<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AsyncAnimatorDemo"
        android:supportsRtl="true">

        <activity
            android:name=".LauncherEntryActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo.Demo1MasterClockActivity" android:label="@string/demo1_title" />
        <activity android:name=".demo.Demo2HolderProgressActivity" android:label="@string/demo2_title" />
        <activity android:name=".demo.Demo3AsyncCrossThreadActivity" android:label="@string/demo3_title" />
        <activity android:name=".demo.Demo4SpringTransitionActivity" android:label="@string/demo4_title" />
        <activity android:name=".demo.Demo5ContinuationActivity" android:label="@string/demo5_title" />
        <activity android:name=".demo.Demo6StateMachineActivity" android:label="@string/demo6_title" />
        <activity android:name=".demo.Demo7SeqIdDedupActivity" android:label="@string/demo7_title" />
        <activity android:name=".demo.Demo8FeatureFlagActivity" android:label="@string/demo8_title" />
        <activity android:name=".demo.Demo9AllAppsTransitionActivity" android:label="@string/demo9_title" />

    </application>

</manifest>